{{ template "_layout.html" . }}

{{ define "content" }}
    <h2>Open Positions</h2>
    {{ if .positions }}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Value</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {{ range .positions }}
            <tr>
                <td>{{ .ID }}</td>
                <td>{{ .Price }}</td>
                <td>{{ .Amount }}</td>
                <td>{{ .Value }}</td>
                <td>{{ .CreatedAt }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
    {{ else }}
    <p>No open positions.</p>
    {{ end }}
{{ end }}
